@using TechAcadCarInsurance.ViewModels
@model List<QuoteVM>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Quote Submitted</h5>
        </div>
        <div class="card-body">
            
            <div class="row mb-3">
                <h2>Thanks for your submission.</h2>
             
            </div>
           
        </div>
    </div>
</div>